.navbar{
    width: 100vw;
}

.main-link{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.links{
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
}

.links a{
    margin: 10px 30px;
    padding: 10px 30px;
}